
{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="d-flex">
    {% include 'students/includes/sidebar.html' %}
    <div class="w-100 p-3">
            <div class="table-responsive">
                <table class="table table-bordered text-center align-middle">
                    <thead class="table-light">
                        <tr>
                            <th class="bg-light" style="width: 5%;">Time</th>
                            <th>Monday</th>
                            <th>Sunday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th class="bg-light">08:00<br>09:00</th>
                        <td>MTH343 - Matematik<br><small>T - 101</small></td>
                        <td>MTH343 - Matematik<br><small>T - 101</small></td>
                        <td>MTH343 - Matematik<br><small>T - 101</small></td>
                        <td>MTH343 - Matematik<br><small>T - 101</small></td>
                        <td>MTH343 - Matematik<br><small>T - 101</small></td>
                        <td>MTH343 - Matematik<br><small>T - 101</small></td>
                        </tr>
                        <tr>
                        <th class="bg-light">09:00 <br> 10:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">10:00 <br> 11:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">11:00 <br> 12:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">12:00 <br> 13:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">13:00 <br> 14:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">14:00 <br> 15:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">15:00 <br> 16:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">16:00 <br> 17:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">17:00 <br> 18:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">19:00 <br> 20:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">20:00 <br> 21:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">21:00 <br> 22:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">22:00 <br> 23:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                        <tr>
                        <th class="bg-light">23:00 <br> 24:00</th>
                        <td>Matematik<br><small>Derslik 101</small></td>
                        <td></td>
                        <td>Fizik<br><small>Derslik 202</small></td>
                        <td></td>
                        <td>Programlama<br><small>Lab 2</small></td>
                        <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
{% endblock %}