{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-flex">
    {% include 'students/includes/sidebar.html' %}
    <div class="content-wrapper p-4" style="width: 100%;">
        <h2 class="text-center mb-4">Sınav Sonuçları</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            {% for course in course_grades %}
            <div class="col">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.course_name }}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Vize</span>
                                <span>{{ course.midterm|default:"?" }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Final</span>
                                <span>{{ course.final|default:"?" }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Ortalama</span>
                                <span>{{ course.average|default:"?" }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col">
                <div class="alert alert-info">Not bulunamadı.</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}