{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'students/css/enrollment.css' %}">
{% endblock %}

{% block content %}

<div class="d-flex">
    {% include 'students/includes/sidebar.html' %}
    <div class="content-wrapper w-100">
<div class="card m-3 flex-fill">
        <div class="card-header bg-light text-center">
            <h4 class="mb-0">Enrolled Courses</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Instructor</th>
                            <th>Credits</th>
                            <th>Semester</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enrollment in enrollments %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ enrollment.course.course_code}}</td>
                            <td>{{ enrollment.course.course_name }}</td>
                            <td>{{ enrollment.course.instructor.first_name }} {{ enrollment.course.instructor.last_name }}</td>
                            <td>{{ enrollment.course.credits }}</td>
                            <td>{{ enrollment.course.semester}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No enrollments found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    
</div>

{% endblock %}
