{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'students/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex">
        {% include 'students/includes/sidebar.html' %}
        <div class="content-wrapper">
          <div class="row p-3 m-0">
            <div class="col-lg-6 mb-3">
              <div class="profile-card">
                <h4 class="mt-3">Personal Information</h4>
                <div class="profile-info">
                  <strong>Student Number:</strong> {{ student_id }}
                </div>
                <hr class="profile-hr">
                <div class="profile-info">
                  <strong>ID Number:</strong> {{ identity_no }}
                </div>
                <hr class="profile-hr">
                <div class="profile-info">
                  <strong>Name:</strong> {{ first_name }}
                </div>
                <hr class="profile-hr">
                <div class="profile-info">
                  <strong>Surname:</strong> {{ last_name }}
                </div>
                <hr class="profile-hr">
                <div class="profile-info">
                  <strong>Date of Birth:</strong> {{ date_of_birth }}
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="profile-card">
                <h4 class="mt-3">Faculty Information</h4>
                <div class="profile-info">
                  <strong>Faculty:</strong> {{ faculty }}
                </div>
                <hr class="profile-hr">
                <div class="profile-info">
                  <strong>Department:</strong> {{ department }}
                </div>
                <hr class="profile-hr">
                <div class="profile-info">
                  <strong>Year:</strong> {{ class_level }}
                </div>
                <hr class="profile-hr">
                <div class="profile-info">
                  <strong>Status:</strong> {{ status }}
                </div>
                <hr class="profile-hr">
                <div class="profile-info">
                  <strong>Registration Date:</strong>  11.11.2020
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="profile-card">
                <h4 class="mt-3">Contact Information</h4>
                <div class="profile-info">
                  <strong>Phone Number:</strong> {{ phone_number }}
                </div>
                <hr class="profile-hr">
                <div class="profile-info">
                  <strong>E-Mail:</strong> {{ email }}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}