{% extends "base.html" %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}"> {% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center row-full-height mt-4">
    <div class="row justify-content-center w-100 h-100">
        <div class="col-12 col-md-10 col-xl-10">
            <div class="login-container row g-0 rounded overflow-hidden shadow">
                <!-- Sol Panel -->
                <div class="col-md-6 d-none d-md-block img-container">
                    <img src="{% static 'accounts/img/login.png' %}" alt="Eğitim Görseli" class="login-img rounded-start">
                </div>
                <!-- Sağ Panel -->
                <div class="col-md-6 d-flex align-items-center justify-content-center p-4 bg-white">
                    <div class="w-100">
                        <div class="d-flex flex-column align-items-center mb-3">
                            <img src="{% static 'img/logo.png' %}" alt="login-img" style="width: 120px;">
                            <h6 class="login-title text-center">METIN ZONTUL UNIVERSITY</h6>
                        </div>
                        
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="text" name="username" class="form-control" placeholder="E-mail" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" name="password" class="form-control" placeholder="Password" required>
                            </div>
                            
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Remember me</label>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-login w-100">Sign in</button>
                            {% if error_message %}
                            <div class="mb-3 ms-1 mt-2">
                                <p class="text-danger" id="loginError">{{ error_message }}</p>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'accounts/js/login.js' %}"></script>
{% endblock %}