{% load static %}
<!-- Sidebar -->
<div class="offcanvas offcanvas-start sidebar" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="px-3">
        <div class="d-flex align-items-center border-bottom">
            <img loading="lazy" src="{% static 'img/logo.webp' %}" class="img-fluid logo" alt="logo image">
            <h6 class="text-white" id="sidebarLabel">Metin Zontul University</h6>
        </div>
        <div class="pt-2">
            <a href="{% url 'student_homepage' %}">Home Page</a>
            <a href="{% url 'student_registration' %}">Registration Info</a>
            <a href="{% url 'student_grades' %}">Exam Results</a>
            <a href="{% url 'student_my_courses' %}">Courses</a>
            <a href="{% url 'student_course_program' %}">Course Program</a>
            <a href="{% url 'logout' %}">Logout</a>

        </div>
    </div>
</div>
<div class="d-none d-md-block sidebar main-side">
    <div class="px-3">
        <div class="d-flex align-items-center border-bottom">
            <img src="{% static 'img/logo.webp' %}" class="img-fluid logo" alt="logo image">
            <h6 class=" text-white" id="sidebarLabel">Metin Zontul University</h6>
        </div>
        <div class="pt-2">
            <a href="{% url 'student_homepage' %}">Home Page</a>
            <a href="{% url 'student_registration' %}">Registration Information</a>
            <a href="{% url 'student_grades' %}">Exam Results</a>
            <a href="{% url 'student_my_courses' %}">Courses</a>
            <a href="{% url 'student_course_program' %}">Course Program</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</div>
