{% load static %}
<!-- Sidebar -->
<div class="offcanvas offcanvas-start sidebar" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="px-3">
        <div class="d-flex align-items-center border-bottom">
            <img src="{% static 'img/logo.png' %}" class="img-fluid logo" alt="logo image">
            <h6 class="text-white" id="sidebarLabel">Metin Zontul University</h6>
        </div>
        <div class="pt-2">
            <a href="#">Ana Sayfa</a>
            <a href="#">Dersler</a>
            <a href="#">Notlar</a>
            <a href="#">Kayıtlar</a>
            <a href="#">Etkinlikler</a>
            <a href="#">Profil</a>
            <a href="#">Çıkış Yap</a>
        </div>
    </div>
</div>
<div class="d-none d-md-block sidebar main-side">
    <div class="px-3">
        <div class="d-flex align-items-center border-bottom">
            <img src="{% static 'img/logo.png' %}" class="img-fluid logo" alt="logo image">
            <h6 class=" text-white" id="sidebarLabel">Metin Zontul University</h6>
        </div>
        <div class="pt-2">
            <a href="#">Ana Sayfa</a>
            <a href="#">Dersler</a>
            <a href="#">Notlar</a>
            <a href="#">Kayıtlar</a>
            <a href="#">Etkinlikler</a>
            <a href="#">Profil</a>
            <a href="#">Çıkış Yap</a>
        </div>
    </div>
</div>
