{% load static %}
<!-- Sidebar -->
<div class="offcanvas offcanvas-start sidebar" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="px-3">
        <div class="d-flex align-items-center border-bottom">
            <img src="{% static 'img/logo.png' %}" class="img-fluid logo" alt="logo image">
            <h6 class="text-white" id="sidebarLabel">Metin Zontul University</h6>
        </div>
        <div class="pt-2">
            <a href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'registration' %}">Registration Info</a>
            <a href="{% url 'grades' %}">My Exam Results</a>
            <a href="{% url 'course_program' %}">Course Program</a>
            <a href="{% url 'my_courses' %}">My Courses</a>
            <a href="#">Log out</a>
        </div>
    </div>
</div>
<div class="d-none d-md-block sidebar main-side">
    <div class="px-3">
        <div class="d-flex align-items-center border-bottom">
            <img src="{% static 'img/logo.png' %}" class="img-fluid logo" alt="logo image">
            <h6 class=" text-white" id="sidebarLabel">Metin Zontul University</h6>
        </div>
        <div class="pt-2">
            <a href="{% url 'homepage' %}">Home</a>
            <a href="{% url 'registration' %}">Registration Info</a>
            <a href="{% url 'grades' %}">My Exam Results</a>
            <a href="{% url 'course_program' %}">Course Program</a>
            <a href="{% url 'my_courses' %}">My Courses</a>
            <a href="#">Log out</a>
        </div>
    </div>
</div>
