{% load static %}
<div class="offcanvas offcanvas-start sidebar" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
            <div class="px-3">
                <div class="d-flex align-items-center border-bottom">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid logo" alt="logo image">
                    <h6 class="text-white" id="sidebarLabel">Metin Zontul University</h6>
                </div>
                    <div class="pt-2">
                    <a href="{% url 'instructor_homepage' %}">Home</a>
                    <a href="{% url 'instructor_my_courses' %}">My Courses</a>
                    <a href="{% url 'instructor_course_program' %}">Course Program</a>
                    <a href="{% url 'instructor_profile' %}">Profile</a>
                    <div class="dropdown-section">
                        <span class="dropdown-toggle-custom">Grade Entry</span>
                        <div class="dropdown-content">
                            <a class="ms-3" href="#">Operating Systems</a>
                            <a class="ms-3" href="#">Software Quality and Standards</a>
                        </div>
                    </div>


                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block sidebar main-side">
            <div class="px-3">
                <div class="d-flex align-items-center border-bottom">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid logo" alt="logo image">
                <h6 class=" text-white" id="sidebarLabel">Metin Zontul University</h6>
                </div>
                <div class="pt-2">
                    <a href="{% url 'instructor_homepage' %}">Homepage</a>
                    <a href="{% url 'instructor_my_courses' %}">My Courses</a>
                    <a href="{% url 'instructor_course_program' %}">Course Program</a>
                    <a href="{% url 'instructor_profile' %}">Profile</a>
                    <div class="dropdown-section">
                        <span class="dropdown-toggle-custom dropdown-toggle">Grade Entry</span>
                        <div class="dropdown-content">
                            <a class="ms-3" href="#">Operating Systems</a>
                            <a class="ms-3" href="#">Software Quality and Standards</a>
                            <a class="ms-3" href="#">Software Engineering</a>
                            <a class="ms-3" href="#">Database Management Systems</a>
                            <a class="ms-3" href="#">Computer Networks</a>
                        </div>
                    </div>
                    <a href="{% url 'logout' %}">logout</a>
                </div>
                    
            </div>
        </div>

