{% load static %}
<div class="offcanvas offcanvas-start sidebar" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
            <div class="px-3">
                <div class="d-flex align-items-center border-bottom">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid logo" alt="logo image">
                    <h6 class="text-white" id="sidebarLabel">Metin Zontul University</h6>
                </div>
                                <div class="pt-2">
                    <a href="./homepage.html">Ana Sayfa</a>
                    <a href="{% url 'my_courses' %}">Dersler</a>
                    <a href="#">Ders Programı</a>
                    <a href="{% url 'profile' %}">Profil</a>
                    <a href="./homepage.html">Ana Sayfa</a>
                    <div class="dropdown-section">
                        <span class="dropdown-toggle-custom">Not Giriş</span>
                        <div class="dropdown-content">
                            <a class="ms-3" href="#">Operating Systems</a>
                            <a class="ms-3" href="#">Software Quality and Standards</a>
                        </div>
                    </div>
                    
                    
                    <a href="{% url 'logout' %}">Çıkış Yap</a>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block sidebar main-side">
            <div class="px-3">
                <div class="d-flex align-items-center border-bottom">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid logo" alt="logo image">
                <h6 class=" text-white" id="sidebarLabel">Metin Zontul University</h6>
                </div>
                <div class="pt-2">
                    <a href="./homepage.html">Ana Sayfa</a>
                    <a href="{% url 'my_courses' %}">Dersler</a>
                    <a href="#">Ders Programı</a>
                    <a href="{% url 'profile' %}">Profil</a>
                    <a href="./homepage.html">Ana Sayfa</a>
                    <div class="dropdown-section">
                        <span class="dropdown-toggle-custom">Not Giriş</span>
                        <div class="dropdown-content">
                            <a class="ms-3" href="#">Operating Systems</a>
                            <a class="ms-3" href="#">Software Quality and Standards</a>
                            <a class="ms-3" href="#">Software Engineering</a>
                            <a class="ms-3" href="#">Database Management Systems</a>
                            <a class="ms-3" href="#">Computer Networks</a>
                        </div>
                    </div>
                    <a href="{% url 'logout' %}">Çıkış Yap</a>
                </div>
                    
            </div>
        </div>

