{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block css %}
<link rel="stylesheet" href="{% static 'instructors/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'instructors/css/grades.css' %}">
{% endblock %}

{% block title %}
{% endblock %}



{% block content %}
<div class="d-flex">
    {% include 'instructors/includes/sidebar.html' with courses=courses %}
    <div class="container-fluid p-3">
    <div class="row">
        <div class="col">
            <div class="card shadow rounded">
                <div class="card-header bg-light">
                    <h5 class="mb-0 course-head">Ders: {{ course.course_code }} - {{ course.course_name }}</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3 d-flex justify-content-end">
                        <input type="text" id="searchInput" class="form-control " placeholder="Search student...">
                    </div>

                    <form action="{% url 'instructor_grade_entry' course.course_id %}" method="post">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table id="gradesTable" class="table table-bordered text-center align-middle">
                                

                                <thead class="table-light">
                                    <tr>
                                        <th width="5%">#</th>
                                        <th width="10%">Öğrenci No</th>
                                        <th width="30%">Öğrenci Adı</th>
                                        <th width="10%">Vize Notu</th>
                                        <th width="10%">Final Notu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students_data %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ student.student_id }}</td>
                                        <td>{{ student.student_name }}</td>
                                        <td>
                                            <input name="midterm_{{ student.enrollment_id }}" class="form-control" min="0" max="100" 
                                                  value="{{ student.midterm|default_if_none:'' }}">
                                        </td>
                                        <td>
                                            <input name="final_{{ student.enrollment_id }}" class="form-control" min="0" max="100" 
                                                  value="{{ student.final|default_if_none:'' }}">
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">Bu derse kayıtlı öğrenci bulunmamaktadır.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <nav aria-label="Not Giriş Sayfalama">
                                <ul class="pagination" id="pagination"></ul>
                            </nav>
                        </div>


                        <div class="text-end mt-3">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'instructors/js/sidebar.js' %}"></script>
<script src="{% static 'instructors/js/grades.js' %}"></script> 
{% endblock %}