{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'instructors/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'instructors/css/profile.css' %}">
{% endblock %}



{% block content %}
<div class="d-flex">
    {% include 'instructors/includes/sidebar.html' %}
    <div class="content-wrapper">
                <!-- Profile Card -->
                <div class="row mx-3 mb-3">
                    
                    <div class="col-md-6 mt-3">
                        <div class="profile-card shadow p-4">
                            <h4>Kişisel Bilgiler</h4>
                            <p class="profile-info"><strong>Ad:</strong> {{ first_name }}</p>
                            <hr>
                            <p class="profile-info"><strong>Soyad:</strong> {{ last_name }}</p>
                            <hr>
                            <p class="profile-info"><strong>Email:</strong> {{ email }}</p>
                            <hr>
                            <p class="profile-info"><strong>Telefon:</strong> {{ phone_number }}</p>

                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="profile-card shadow p-4">
                            <h4>Fakülte - Bölüm Bilgileri</h4>
                            <p class="profile-info"><strong>Fakülte:</strong> {{ faculty }}</p>
                            <hr>
                            <p class="profile-info"><strong>Bölüm:</strong> {{ department }}</p>
                            <hr>
                            <p class="profile-info"><strong>Ünvan:</strong> {{ title }}</p>
                            <hr>
                            <p class="profile-info"><strong>Ofis:</strong> {{ office }}</p>
                        </div>
                    </div>
                </div>
            </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static '/instructors/js/sidebar.js' %}"></script>
{% endblock %}